/* start c-item */
.c-list > ul{
    margin-left: -66px;
}
.c-list > ul > li{
    width: 289px;
    margin-left: 66px;
}
.c-list li h4{
    width: 100%;
    box-sizing: border-box;
}
.c-list li li{
    letter-spacing: -.8px;
}
.c-list1 > ul{
    margin-left: -100px;
}
.c-list1 > ul > li{
    width: 450px;
}
.c-list1 > ul > li{
    margin-left: 100px;
}
/* start c-case */
.c-case{
    margin-bottom: 50px;
}
.c-item .c-title{
    padding: 10px 0 39px;
}
/* start c-list2*/
.c-item .c-list2{
    padding-top: 24px;
    background-color: #f1f6f9;
}
.c-item .c-list2 h4{
    background-color: transparent;
    color: #000;
    white-space: nowrap;
}
.c-white li{
    float: left;
    width: 57%;
    white-space: nowrap;
}
.c-white li.c-space{
    width: 43%;
}
.c-case-b{
    margin-bottom: 29px;
}
